button {
  border-radius: 10px;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  box-shadow: var(--box-shadow);
}

.register-btn {
  background-color: white;
}

button:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow-hover);
}


input {
  border-radius: 10px;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  box-shadow: var(--box-shadow);
  /* background-color: var(--orange); */
}

input,
button {
  margin: 0.5rem;
}

::placeholder {
  text-align: center; 
}



a, a:visited {
  color: var(--blue);
}