body {
  /* Colors */
  --blue: #243763;
  --orange: #ff6e31;
  --yellow: #ffebb7;
  --brown: #ad8e70;

  /* Shadows */
  --box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 0px 6px 16px 0px rgba(0, 0, 0, 0.2);
}